# =======================
# MediaWiki Configuration
# =======================
MEDIAWIKI_SITENAME=The Linux Mint Community Wiki
MEDIAWIKI_META_NAMESPACE=The_Linux_Mint_Community_Wiki
MEDIAWIKI_SERVER=http://localhost

# ======================
# Database Configuration
# ======================
MEDIAWIKI_DB_HOST=database
MEDIAWIKI_DB_NAME=mediawiki
MEDIAWIKI_DB_USER=wiki
MEDIAWIKI_DB_PASSWORD=P@ssw0rd

# =============
# Security Keys
# =============
MEDIAWIKI_SECRET_KEY=3303279bff9fd7e7a32fb099d03933c099cfd3db8c5f3fdb769d740ec9d845d9
MEDIAWIKI_UPGRADE_KEY=d2a388fc0086f0b9
MEDIAWIKI_AUTH_TOKEN_VERSION=1

# =======================
# MediaWiki Configuration
# =======================
MEDIAWIKI_ADMIN_USER=admin
# Password must be longer than 10 characters and be not generic.
# MediaWiki will not allow you to use it (e.g. password1234).
MEDIAWIKI_ADMIN_PASS=The Linux Mint Community Wiki